*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    font-family: var(--font-family-secondary);
}
@font-face {
    font-family: 'americana';
    src: url("../assets/font/Americana Font Regular.otf");
}
@font-face {
    font-family: 'nunito';
    src: url("../assets/font/Nunito-Regular.ttf");
}
:root{
    /* font-family */
    --font-family-primary: 'americana';
    --font-family-secondary: 'nunito';
    /* font-size */
    --font-size-primary-heading: 36px;
    --font-size-secondary-heading: 33px;
    --font-size-tertiary-heading: 18px;
    --font-size-primary-para: 16px;
    --font-size-secondary-para: 15px;
    --font-size-tertiary-para: 14px;
    /* font-weight */
    --font-weight-heading: 700;
    --font-weight-secondary: 500;
    --font-weight-tertiary: 400;
    /* color */
    --color-forgrade-primary: #000;
    --color-forgrade-secondary: #fff;
    --color-forgrade-tertiary: #26a3db;
    /* background */
    --color-BG-primary: #26a3db;
    --color-BG-secondary: #E9F6FB;
    --color-BG-tertiary: #f9f9f9;
    /* text-alignment */
    --text-align: center;
    /* gap */
    --gap-primary: 10px;
    --gap-secondary: 20px;
    --gap-tertiary: 30px;
    --gap-quaternary: 40px;
    --gap-quinary: 50px;
}
/* common */
.page-width{
    max-width: 1600px;
    margin: auto;
}
a{
    display: inline-block;
}
.relative{
    position: relative;
}
.text-center{
    text-align: center;
}
.list-style-unset{
    list-style: none;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.gap-40px{
    gap: var(--gap-quaternary);
}
.gap-30px{
    gap: var(--gap-tertiary);
}
.gap-20px{
    gap: var(--gap-secondary);
}
.gap-10px{
    gap: var(--gap-primary);
}
h1, h2, h3, h4, h5, h6, .h0, .h1, .h2, .h3, .h4, .h5 {
    font-family: var(--font-family-primary);
}
.h1{
    font-size: var(--font-size-primary-heading);
}
.h3{
    font-size: 28px;
}
.h4{
    font-size: 20px;
}
.h5{
    font-size: var(--font-size-tertiary-heading);
}
.secondary-heading{
    color: var(--color-forgrade-tertiary);
}
.font-weight-400px{
    font-weight: 400;
}
.font-weight-500px{
    font-weight: 500;
}
.font-weight-700px{
    font-weight: 700;
}
.font-size-18px{
    font-size: 18px;
}
.font-size-16px{
    font-size: var(--font-size-primary-para);
}
.font-size-14px{
    font-size: var(--font-size-tertiary-para);
}
.line-height{
    line-height: 1.6;
}
.padding-tertiary{
    padding: 0 130px;
}
.padding-common{
    padding: 20px 130px;
}
.padding-main{
    padding: 80px 130px;
}
.primary-btn{
    color: var(--color-forgrade-secondary);
    background: var(--color-BG-primary);
    padding: 13px 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.secondary-btn{
    color: var(--color-forgrade-primary);
    background: var(--color-BG-tertiary);
    padding: 13px 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.primary-btn > a{ 
    color: inherit;
}
.underline-btn{
    color: var(--color-forgrade);
    background-color: var(--color-background);
    border: none;
    border-bottom: 1px solid;
}
.underline-btn:hover > a, .underline-btn:hover{
    color: var(--color-forgrade-tertiary);
}
.color-scheme-1{
    --color-background: #26a3db;
    --color-forgrade: #fff;
}
.color-scheme-2{
    --color-background: #E9F6FB;
    --color-forgrade: #000;
}
.color-scheme-3{
    --color-background: #f9f9f9;
    --color-forgrade: #000;
}
.color-scheme-4{
    --color-forgrade: #fff;
}
.color-scheme-5{
    --color-forgrade: #8A9099;
}
.color-scheme-6{
    --color-forgrade: black;
}
.gradient{
    color: var(--color-forgrade);
    background: var(--color-background);
}
/* anouncement-bar */
.anouncement-bar{
    padding: 10px 130px;
}
/* header */
.header-wrapper {
    position: absolute;
    top: 39px;
    z-index: 1;
    width: 100%;
}
.header-wrapper-inner{
    padding: 15px 130px;
}
.header-icon-wrapper{
    width: 100%;
    max-width: 411px;
    justify-content: flex-end;
}
.logo{
    height: 50px;
}
.navbar a {
    display: inline-block;
    color: inherit;
    font-size: var(--font-size-tertiary-para);
}
.navbar-inner{
    gap: var(--gap-secondary);
}
/* banner */
.banner{
    position: relative;
}
.banner-content{
    position: absolute;
    left: 130px;
    top: 258px;
    z-index: 1;
}
.banner-content-inner{
    max-width: 442px;
    flex-direction: column;
}
/* icon-with-text-section */
 .icon-with-text-wrapper {
    width: calc(15% - 20px);
    max-width: calc(15% - 20px);
    padding: 10px;
    flex-direction: column;
    gap: var(--gap-primary);
}
.icon-with-text-wrapper a{
    display: inline-block;
}
.icon-with-text-img-wrapper{
    width: 45px;
}
.grid-col-4-desktop{
    width: calc(25% - 20px);
    max-width: calc(25% - 20px);
}
/* slider-section */
.slider-section{
    position: relative;
    z-index: -1;
}
.swiper-img{
    object-fit: contain;
    object-position: center;
}
/* featured-collection */
.product-img img{
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1.319;
}
.product-card{
    border-radius: 5px;
}
.product-card-content{
    padding: 10px;
}
/*  */
.product-card-img{
    position: relative;
}
.positioned-box{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    display: none;
    transition: all 0.3s ease-in-out;
}
.quick-add-btn{
    max-width: 90%;
    padding: 12px;
    margin: 35% 10px 10px 12px;
    background: transparent;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}
.quick-add-btn > a{
    color: var(--color-forgrade-primary);
}
.quick-add-btn:hover, .quick-add-btn:hover > a{
    background-color: var(--color-BG-primary);
    color: var(--color-BG-tertiary);
}
.product-card:hover .positioned-box{
    display: block;
}
/* about-product-section */
.about-product-img-1{
    width: 55%;
    position: absolute;
    top: 42.76px;
    left: 0;
}
.about-product-img-2{
    width: 55%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.about-products-img{
    position: relative;
}
.about-products-img-wrapper{
    height: 481.78px;
    width: 100%;
}
.about-products-img{
    width: 90%;
}
/* text-with-background-img */
.bg-img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.text-with-bg-img-content{
    max-width: 37%;
    position: absolute;
    top: 40%;
}
/* img-with-text-section */
.img-with-text-content{
    width: 50%;
}
/* customer-review */
.rating-star-inner{
    width: 16px;
}
.rating-box{
    gap: 3px;
}
.arrow-box{
    width: 24px;
}
.prev-next-review-box{
    margin-top: 20px;
}
/* social-gallery-section */
.social-gallery-wrapper{
    padding: 80px 20px;
}
/* scrolling-img-section */
.images-column{
    flex: 1;
}
.text-content {
    margin-top: 10%;
    flex: 1;
    position: sticky;
    top: 20%;
    padding-left: 2.5%;
    align-self: flex-start;
}
/* blog-section */
.blog-content{
    padding: 17px 10px;
}
.blog {
  position: relative;
}
.blog:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 101%;
  height: 100%; 
  width: 1px;  
  background-color: rgba(210, 213, 217, 1); 
}
/* footer */
.footer-inner{
    padding: 60px 40px;
}
.footer-logo{
    width: 123.61px;
}
.footer-nav{
    width: calc(25% - 10px);
    max-width: calc(25% - 10px);
}
.footer-nav a{
    color: var(--color-forgrade-secondary);
}
.input-box{
    width: 100%;
}
.footer-bottom{
    padding: 40px 0;
    border-top: 1px solid #bbbcbd;
}
.input-box input{
    max-width: 100%;
    outline: none;
    padding: 13px 5px 13px 15px;
    border: 1px solid white;
    border-radius: 5px;
    background: inherit;
}
.input-box input::placeholder{
    color: var(--color-forgrade-secondary);
}
.secondary-btn > a{
    color: var(--color-forgrade-primary);
}
.select-country{
    background: transparent;
    outline: none;
    padding: 10px;
    color: var(--color-forgrade);
    border: 1px solid white;
    border-radius: 5px;
}
.slider-2{
    margin-top: 50px;
}
.product-card-img-box {
    object-fit: cover;
    object-position: center;
}
/* popup */
.wel-pop-up-wrapper, .invalid-age-wrapper, .pop-up-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
.wel-pop-up-inner, .pop-up-inner{
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}
.pop-up-inner form > div {
    margin-bottom: 20px;
}
label[for="age"] {
    display: block;
    margin-bottom: 8px;
}
input[type="number"] {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}
#age-form-submit-btn {
    width: 100%;
    background: var(--color-BG-primary);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.logo-inner{
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-bottom: 10px;
}
.grid-col-2-desktop{
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
}
.grid-col-3-desktop{
    width: calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
}
.grid-col-5-desktop{
    width: calc(20% - 20px);
    max-width: calc(20% - 20px);
}
@media(max-width:1400px){
    .padding-common{
        padding: 20px 90px;
    }
    .padding-main{
        padding: 80px 90px;
    }
    .navbar-inner{
        gap: var(--gap-primary);
    }
    .img-with-text-content{
        width: 40%;
    }
    .image-with-text-image-wrapper{
        width: 50%;
    }
    .text-with-bg-img-content {
        max-width: 50%;
        top: 20%;
    }
    .positioned-box{
        top: 47%;
    }
    .header-icon-wrapper{
        width: 100%;
        max-width: 360px;
    }
}
@media(max-width: 1024px){
    .positioned-box{
        top: 40%;
    }
}
@media(max-width:990px){
    .h1{
        font-size: 28px;
    }
    .padding-common, .padding-main{
        padding: 20px 40px;
    }
    .grid-col-2-tablet{
        width: calc(45% - 20px);
        max-width: calc(45% - 20px);
    }
    .grid-col-1-tablet{
        width: calc(100% - 0px);
        max-width: calc(100% - 0px);
    }
    .grid-col-3-tablet{
        width: calc(30.33% - 20px);
        max-width: calc(30.33% - 20px);
    }
    .anouncement-bar{
        padding: 5px 10px;
    }
    .header-wrapper-inner{
        padding: 7px 10px;
    }
    .header-icon-wrapper{
        width: 100%;
        max-width: 390px;
        justify-content: flex-end;
    }
    .banner-content{
        left: 10px;
    }
    .featured-product-list{
        justify-content: center;
    }
    .h3 {
        font-size: var(--font-size-tertiary-heading);
    }
    .text-with-bg-img-content{
        max-width: 70%;
        top: 30%;
    }
    .social-gallery-inner{
        justify-content: center;
    }
    .images-column-inner{
        gap: var(--gap-primary);
    }
    .images-column, .text-content {
        flex: 100%;
        width: 100%; 
    }
    .text-content {
        position: static;  
        margin-top: 20px;  
        padding-left: 0;   
        align-self: auto;  
    }
    .blog::after{
        display: none;
    }
    .blog{
        text-align: center;
    }
    .blog-img-wrapper{
        display: flex;
        justify-content: center;
    }
    .header-icon-wrapper{
        width: 70px;
        justify-content: flex-end;
    }
}
@media(max-width:768px){
    .padding-common, .padding-main{
        padding: 15px 20px;
    }
    .padding-tertiary{
        padding: 0 30px;
    }
    .grid-col-2-mobile{
        width: calc(45% - 20px);
        max-width: calc(45% - 20px);
    }
    .grid-col-1-mobile{
        width: calc(100% - 0px);
        max-width: calc(100% - 0px);
    }
    .primary-btn{
        padding: 5px 10px;
    }
    .banner-content{
        left: 10px;
        top: 100px;
    }
    .banner-content-inner{
        gap: var(--gap-primary);
    }
    .about-products-img{
        width: 70%;
    }
    .h4{
        font-size: var(--font-size-tertiary-heading);
    }
    .h5{
        font-size: var(--font-size-secondary-para);
    }
    .payment-section{
        margin-top: 20px;
    }
    .h1{
        font-size: 16px;
    }
    .font-size-16px{
        font-size: 14px;
    }
    .icon-with-text-img-wrapper{
        width: 30px;
    }
    .arrow-box{
        width: 16px;
    }
    .text-with-bg-img-content{
        max-width: 90%;
        top: 20%;
    }
    .bg-img{
        height: 270px;
    }
    .img-with-text-content{
        width: 90%;
    }
    .image-with-text-image-wrapper{
        width: 70%;
    }
    .footer-nav{
        text-align: center;
    }
    .how-to-contact{
        justify-content: center;
    }
    .social-icons-inner{
        justify-content: center;
    }
    .images-column-inner{
        flex-direction: row;
        width: 100%;
    }
    .about-products-img-wrapper {
        height: auto; 
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 100px; 
    }
    .about-products-img {
        width: 100%;
        max-width: 300px; 
        position: relative;
        height: 250px; 
    }
    .about-product-img-1, .about-product-img-2 {
        position: absolute;
        width: 70%;
    }
    .about-product-img-1 {
        top: 40px;
        left: 0;
        z-index: 2;
    }
    .about-product-img-2 {
        top: 0;
        right: 0;
        z-index: 1;
    }
    .about-product-content{
        align-items: center;
    }
    .social-gallery-inner{
        gap: var(--gap-primary);
    }
    .image-with-text-text{
        text-align: var(--text-align);
    }
    .text-with-bg-img-content-inner{
        gap: var(--gap-primary);
    }
    .text-content-inner{
        align-items: center;
        text-align: center;
        gap: var(--gap-primary);
    }
    .positioned-box{
        top: 50%;
    }
    .logo-inner{
        max-width: 150px;
    }
}
@media(max-width:768px) and (min-width:495px){
    .banner-content{
        top: 140px;
    }
}
@media(min-width:1401px){
    .text-with-bg-img-content{
        max-width: 650px;
    }
}